body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6ffe6;
}

header {
    background-color: #2ecc71;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    text-align: center;
    background-color: #27ae60;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid #2ecc71;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.download-button:hover {
    background-color: #2ecc71;
}

footer {
    background-color: #27ae60;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
